In [1]:
import pandas as pd

In [2]:
file = "Resources/combined.csv"


original_data = pd.read_csv(file)

original_data.head()

,Unnamed: 0,Country,Item,Element,Year,Unit,Value,Population Size,2020 GDP in USD,GDP Per Capita
0,0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,39307.0,38928341.0,2.011614e+10,516.747871
1,1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,18387.0,38928341.0,2.011614e+10,516.747871
2,2,Afghanistan,Apples,Production,2020,tonnes,270857.0,38928341.0,2.011614e+10,516.747871
3,3,Afghanistan,Apricots,Production,2020,tonnes,131788.0,38928341.0,2.011614e+10,516.747871
4,4,Afghanistan,Barley,Production,2020,tonnes,127757.0,38928341.0,2.011614e+10,516.747871

In [3]:
del original_data["Unnamed: 0"]

In [4]:
data = original_data.groupby(["Country"]).sum()
data

,Year,Value,Population Size,2020 GDP in USD,GDP Per Capita
Country,,,,,
Afghanistan,86860,5.477190e+07,1.673919e+09,8.649939e+11,2.222016e+04
Albania,135340,1.290490e+07,1.901359e+08,1.013835e+12,3.572548e+05
Algeria,147460,2.019923e+08,3.201126e+09,1.058567e+13,2.414006e+05
Angola,78780,8.429773e+07,1.281784e+09,2.091144e+12,6.362584e+04
Antigua and Barbuda,64640,2.155450e+05,3.133696e+06,4.384901e+10,4.477678e+05
...,...,...,...,...,...
Uzbekistan,163620,1.278343e+08,2.772796e+09,4.851439e+12,1.417221e+05
Vanuatu,30300,1.115324e+06,4.607250e+06,1.345242e+10,4.379755e+04
World,266640,4.926536e+10,1.024839e+12,1.120770e+16,1.443560e+06
Zambia,94940,6.294596e+07,8.640459e+08,8.511997e+11,4.630122e+04
Zimbabwe,165640,2.578526e+07,1.218760e+09,1.480196e+12,9.958981e+04

In [5]:
summed_data = original_data.groupby(["Country"]).agg({"Value": ['sum'], 'Year': 'max', '2020 GDP in USD': 'max', 'Population Size': 'max', 'GDP Per Capita': 'max'})
summed_data

,Value,Year,2020 GDP in USD,Population Size,GDP Per Capita
,sum,max,max,max,max
Country,,,,,
Afghanistan,5.477190e+07,2020,2.011614e+10,3.892834e+07,516.747871
Albania,1.290490e+07,2020,1.513187e+10,2.837849e+06,5332.160475
Algeria,2.019923e+08,2020,1.450092e+11,4.385104e+07,3306.858208
Angola,8.429773e+07,2020,5.361907e+10,3.286627e+07,1631.431691
Antigua and Barbuda,2.155450e+05,2020,1.370281e+09,9.792800e+04,13992.744480
...,...,...,...,...,...
Uzbekistan,1.278343e+08,2020,5.989431e+10,3.423205e+07,1749.655815
Vanuatu,1.115324e+06,2020,8.968279e+08,3.071500e+05,2919.836800
World,4.926536e+10,2020,8.490681e+13,7.763933e+09,10936.057466
Zambia,6.294596e+07,2020,1.811063e+10,1.838396e+07,985.132436
Zimbabwe,2.578526e+07,2020,1.805117e+10,1.486293e+07,1214.509820

In [12]:
data["Year"] = summed_data["Year"]["max"]
data["GDP Per Capita"] = summed_data["GDP Per Capita"]["max"]
data["2020 GDP in USD"] = summed_data["2020 GDP in USD"]["max"]
data["Population Size"] = summed_data["Population Size"]["max"]
data.head()

,Year,Value,Population Size,2020 GDP in USD,GDP Per Capita
Country,,,,,
Afghanistan,2020,54771898.0,38928341.0,2.011614e+10,516.747871
Albania,2020,12904896.0,2837849.0,1.513187e+10,5332.160475
Algeria,2020,201992285.0,43851043.0,1.450092e+11,3306.858208
Angola,2020,84297733.0,32866268.0,5.361907e+10,1631.431691
Antigua and Barbuda,2020,215545.0,97928.0,1.370281e+09,13992.744480

Checking to make sure the length is good.

In [13]:
len(data)

167

In [14]:
new_data = data.groupby(["Country"]).agg({"Value": ['sum'], 'GDP Per Capita': 'max', 'Year': 'max', 'Population Size': 'max'})
len(new_data["Year"]["max"].tolist())

167

In [15]:
data.to_csv("Resources/merged_data.csv")

In [16]:
data.head(10)

,Year,Value,Population Size,2020 GDP in USD,GDP Per Capita
Country,,,,,
Afghanistan,2020,54771898.0,38928341.0,2.011614e+10,516.747871
Albania,2020,12904896.0,2837849.0,1.513187e+10,5332.160475
Algeria,2020,201992285.0,43851043.0,1.450092e+11,3306.858208
Angola,2020,84297733.0,32866268.0,5.361907e+10,1631.431691
Antigua and Barbuda,2020,215545.0,97928.0,1.370281e+09,13992.744480
Argentina,2020,381324138.0,45376763.0,3.895910e+11,8585.694742
Armenia,2020,8160547.0,2963234.0,1.264121e+10,4266.018074
Australia,2020,263620034.0,25693267.0,1.327836e+12,51680.316523
Austria,2020,15483620.0,8916864.0,4.332585e+11,48588.659385
Azerbaijan,2020,49869407.0,10093121.0,4.269300e+10,4229.910649

Just checking data values are correct

In [18]:
original_data.head(100)

,Country,Item,Element,Year,Unit,Value,Population Size,2020 GDP in USD,GDP Per Capita
0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,39307.0,38928341.0,2.011614e+10,516.747871
1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,18387.0,38928341.0,2.011614e+10,516.747871
2,Afghanistan,Apples,Production,2020,tonnes,270857.0,38928341.0,2.011614e+10,516.747871
3,Afghanistan,Apricots,Production,2020,tonnes,131788.0,38928341.0,2.011614e+10,516.747871
4,Afghanistan,Barley,Production,2020,tonnes,127757.0,38928341.0,2.011614e+10,516.747871
...,...,...,...,...,...,...,...,...,...
95,Albania,"Tobacco, unmanufactured",Production,2020,tonnes,1438.0,2837849.0,1.513187e+10,5332.160475
96,Albania,Tomatoes,Production,2020,tonnes,313109.0,2837849.0,1.513187e+10,5332.160475
97,Albania,"Vegetables, fresh nes",Production,2020,tonnes,28706.0,2837849.0,1.513187e+10,5332.160475
98,Albania,"Vegetables, leguminous nes",Production,2020,tonnes,110.0,2837849.0,1.513187e+10,5332.160475
99,Albania,Watermelons,Production,2020,tonnes,248724.0,2837849.0,1.513187e+10,5332.160475