We have accumulated 4 datasets:
- World Food Wealth Bank - Crop Data
- World Food Wealth Bank - Live Stock Data
- World Food Wealth Bank - Population
- World GDP


Our dataset for the World Food Wealth Bank was too large to import into our Project 1 GitHub Repository. Therefore, we must narrow down the scope of our data.
We decided to focus our data towards the most recent year available within the World Food Wealth Bank data which is 2020.

In [230]:
# Import libraries
import pandas as pd

In [231]:
# import data
crop_df = pd.read_csv("./Foodbank_data/crop1.csv")
live_stock_df = pd.read_csv("./Foodbank_data/live1.csv")
pop_df = pd.read_csv("./Foodbank_data/pop1.csv")

In [232]:
crop_2020 = crop_df.loc[crop_df['Year'] == 2020, :]
crop_2020.head()

,Area,Item,Element,Year,Unit,Value
45,Afghanistan,"Almonds, with shell",Area harvested,2020,ha,22134.0
90,Afghanistan,"Almonds, with shell",Yield,2020,hg/ha,17759.0
136,Afghanistan,"Almonds, with shell",Production,2020,tonnes,39307.0
196,Afghanistan,"Anise, badian, fennel, coriander",Area harvested,2020,ha,25759.0
231,Afghanistan,"Anise, badian, fennel, coriander",Yield,2020,hg/ha,7138.0

In [233]:
live_2020 = live_stock_df.loc[live_stock_df['Year']==2020, :]
live_2020.head()

            Area      Item Element  Year       Unit      Value
59   Afghanistan     Asses  Stocks  2020       Head  1535435.0
119  Afghanistan    Camels  Stocks  2020       Head   168928.0
179  Afghanistan    Cattle  Stocks  2020       Head  5085807.0
239  Afghanistan  Chickens  Stocks  2020  1000 Head    13724.0
299  Afghanistan     Goats  Stocks  2020       Head  7967043.0

In [234]:
# Columns
print(f"Crop Columns: {crop_2020.columns}")
print(f"Live Stock Columns: {live_2020.columns}")
print(f"Population Columns: {pop_df.columns}")

Crop Columns: Index(['Area', 'Item', 'Element', 'Year', 'Unit', 'Value'], dtype='object')
Live Stock Columns: Index(['Area', 'Item', 'Element', 'Year', 'Unit', 'Value'], dtype='object')
Population Columns: Index(['Country Name', 'Country Code', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021'],
      dtype='object')

Crop Columns:
- Area: Country/region
- Item: Crop
- Element: Area harvested, Yield, or Production of the crop
- Year: Only 2020 since that is our focus
- Unit: Unit of measure based on the element value
- Value: The number of units for the crop

Live Stock Columns:
- Area: Country
- Item: Live stock
- Element: Type
- Year
- Unit: Unit of measure for the element type
- Value: The value count based on the unit of measure

The column titles are the same as the crop dataset. However, the Population dataset does not have the same columns. We will filter the population data set to contain only the year 2020.

Do we need both Country Name and Country Code?

In [235]:
print(f"Length of Population dataframe: {len(pop_df)}")
print(f"Number of unique values of Country Name: {len(pop_df['Country Name'].value_counts())}")
print(f"Number of unique Country Code: {len(pop_df['Country Code'].value_counts())}")

Length of Population dataframe: 266
Number of unique values of Country Name: 266
Number of unique Country Code: 266

The length of Country Name and Country Code are the same as the number of rows in the data. Therefore, all rows are unique in this dataset. We remove Country Code since we do not need it.

In [236]:
pop_2020 = pop_df.loc[:, ("Country Name", "2020")]
# Rename columns to match data
pop_2020 = pop_2020.rename(columns={"Country Name":"Country","2020":"Population Size"})
pop_2020.columns
pop_2020.head()

                       Country  Population Size
0                        Aruba         106766.0
1  Africa Eastern and Southern      677243299.0
2                  Afghanistan       38928341.0
3   Africa Western and Central      458803476.0
4                       Angola       32866268.0

In [237]:
# Rename "Area" to "Country Name" for Crop and Live Stock Data
crop_2020 = crop_2020.rename(columns={"Area": "Country"})
live_2020 = live_2020.rename(columns={"Area": "Country"})

In [238]:
# Column Data Types
print(f"Crop data types: {crop_2020.dtypes}")
print(f"Live Stock data types: {live_2020.dtypes}")
print(f"Population data type: {pop_2020.dtypes}")

Crop data types: Country     object
Item        object
Element     object
Year         int64
Unit        object
Value      float64
dtype: object
Live Stock data types: Country     object
Item        object
Element     object
Year         int64
Unit        object
Value      float64
dtype: object
Population data type: Country             object
Population Size    float64
dtype: object

Data types are correct and matching for both crop and live stock data. Population data types are correct as well.

In [239]:
# Missing Data
print(f"Crop value counts: {crop_2020.count()}")
print(f"Live stock value counts: {live_2020.count()}")
print(f"Population value counts: {pop_2020.count()}")

Crop value counts: Country    35406
Item       35406
Element    35406
Year       35406
Unit       35406
Value      34461
dtype: int64
Live stock value counts: Country    2046
Item       2046
Element    2046
Year       2046
Unit       2046
Value      2004
dtype: int64
Population value counts: Country            266
Population Size    264
dtype: int64

In [240]:
# Value column has 34461 values
# What kind of values are missing?
crop_2020_missing = crop_2020.loc[crop_2020['Value'].isna(), :]
crop_2020_missing

,Country,Item,Element,Year,Unit,Value
8704,Albania,"Fruit, stone nes",Area harvested,2020,ha,NaN
8719,Albania,"Fruit, stone nes",Production,2020,tonnes,NaN
9966,Albania,Mushrooms and truffles,Area harvested,2020,ha,NaN
12150,Albania,"Rice, paddy",Area harvested,2020,ha,NaN
12243,Albania,"Rice, paddy",Production,2020,tonnes,NaN
...,...,...,...,...,...,...
1861714,Low Income Food Deficit Countries,Flax fibre and tow,Production,2020,tonnes,NaN
1866042,Low Income Food Deficit Countries,Mushrooms and truffles,Area harvested,2020,ha,NaN
1883875,Net Food Importing Developing Countries,Hemp tow waste,Area harvested,2020,ha,NaN
1883904,Net Food Importing Developing Countries,Hemp tow waste,Production,2020,tonnes,NaN
1886259,Net Food Importing Developing Countries,Mushrooms and truffles,Area harvested,2020,ha,NaN

Does the missing values mean that the country does not produce that crop? If so, the NaN value should be 0.

What is Low Income Food Deficit Countries?
What is Net Food Importing Developing Countries?

These are bundles of countries that are categorized into one group. The GDP dataset does not include these categories. Therefore, it will be removed when we do a left join by Country with the GDP dataset.

The value of any missing data can be 0.

In [241]:
crop_2020_no_missing = crop_2020.copy()
crop_2020_no_missing['Value'] = [val if type(val) == 'float' else 0 for val in crop_2020_no_missing['Value']]
len(crop_2020_no_missing['Value'])

35406

In [242]:
# Check if it worked for all columns
crop_2020_no_missing.count()

Country    35406
Item       35406
Element    35406
Year       35406
Unit       35406
Value      35406
dtype: int64

In [243]:
# Isolate the rows with missing values for live stock data
live_2020_missing = live_2020.loc[live_2020['Value'].isna(), :]
live_2020_missing

,Country,Item,Element,Year,Unit,Value
839,Albania,Ducks,Stocks,2020,1000 Head,NaN
899,Albania,Geese and guinea fowls,Stocks,2020,1000 Head,NaN
1079,Albania,Mules,Stocks,2020,Head,NaN
4068,Australia,Buffaloes,Stocks,2020,Head,NaN
5616,Bahamas,Horses,Stocks,2020,Head,NaN
5768,Bahrain,Asses,Stocks,2020,Head,NaN
9442,Bolivia (Plurinational State of),Beehives,Stocks,2020,No,NaN
15596,Central African Republic,Asses,Stocks,2020,Head,NaN
18236,"China, Hong Kong SAR",Geese and guinea fowls,Stocks,2020,1000 Head,NaN
21488,Cook Islands,Ducks,Stocks,2020,1000 Head,NaN
22358,Côte d'Ivoire,Ducks,Stocks,2020,1000 Head,NaN
25176,Democratic Republic of the Congo,Asses,Stocks,2020,Head,NaN
25402,Democratic Republic of the Congo,Horses,Stocks,2020,Head,NaN
31850,Finland,Ducks,Stocks,2020,1000 Head,NaN
33575,French Polynesia,Rabbits and hares,Stocks,2020,1000 Head,NaN
43838,Iran (Islamic Republic of),Pigs,Stocks,2020,Head,NaN
44676,Ireland,Ducks,Stocks,2020,1000 Head,NaN
44736,Ireland,Geese and guinea fowls,Stocks,2020,1000 Head,NaN
52348,Libya,Mules,Stocks,2020,Head,NaN
55189,Malta,Ducks,Stocks,2020,1000 Head,NaN
61548,Netherlands,Beehives,Stocks,2020,No,NaN
61726,Netherlands,Ducks,Stocks,2020,1000 Head,NaN
64032,Nigeria,Beehives,Stocks,2020,No,NaN
65739,Oman,Ducks,Stocks,2020,1000 Head,NaN
70231,Portugal,Ducks,Stocks,2020,1000 Head,NaN
72000,Republic of Korea,Mules,Stocks,2020,Head,NaN
78570,Singapore,Buffaloes,Stocks,2020,Head,NaN
78750,Singapore,Ducks,Stocks,2020,1000 Head,NaN
78870,Singapore,Pigs,Stocks,2020,Head,NaN
80892,South Sudan,Beehives,Stocks,2020,No,NaN
80901,South Sudan,Camels,Stocks,2020,Head,NaN
80937,South Sudan,Horses,Stocks,2020,Head,NaN
80946,South Sudan,Mules,Stocks,2020,Head,NaN
86954,Togo,Rabbits and hares,Stocks,2020,1000 Head,NaN
89956,Tuvalu,Goats,Stocks,2020,Head,NaN
91116,United Arab Emirates,Rabbits and hares,Stocks,2020,1000 Head,NaN
91236,United Kingdom of Great Britain and Northern I...,Beehives,Stocks,2020,No,NaN
92676,United States of America,Mules,Stocks,2020,Head,NaN
113974,Southern Europe,Mules,Stocks,2020,Head,NaN
115507,Oceania,Rabbits and hares,Stocks,2020,1000 Head,NaN
115717,Australia and New Zealand,Buffaloes,Stocks,2020,Head,NaN
117430,Polynesia,Rabbits and hares,Stocks,2020,1000 Head,NaN

Are there really no bees in the United Kingdom? There are no pigs in Singapore?

Did a google search and there are more than 250 species of bees in the UK. https://www.woodlandtrust.org.uk/blog/2019/05/types-of-bee-in-the-uk/

These missing values are inaccurate and it would be safe to remove them.

In [244]:
# Delete missing data
live_2020_no_missing = live_2020.dropna(how='any')
live_2020_no_missing.count()

Country    2004
Item       2004
Element    2004
Year       2004
Unit       2004
Value      2004
dtype: int64

In [245]:
live_2020_no_missing.head()

         Country      Item Element  Year       Unit      Value
59   Afghanistan     Asses  Stocks  2020       Head  1535435.0
119  Afghanistan    Camels  Stocks  2020       Head   168928.0
179  Afghanistan    Cattle  Stocks  2020       Head  5085807.0
239  Afghanistan  Chickens  Stocks  2020  1000 Head    13724.0
299  Afghanistan     Goats  Stocks  2020       Head  7967043.0

In [246]:
# Check for missing values in Population
pop_2020_missing = pop_2020.loc[pop_2020['Population Size'].isna(), :]
pop_2020_missing

            Country  Population Size
69          Eritrea              NaN
110  Not classified              NaN

Do we need to keep Eritrea?

Check if the Crop and Live Stock data has Eritrea as a Country.

In [247]:
print(f"Does Eritrea exist in the crop data? {len(crop_2020_no_missing.loc[crop_2020_no_missing['Country'] == 'Eritrea', :]) > 0}")
print(f"Does Eritrea exist in the live stock data? {len(live_2020_no_missing.loc[live_2020_no_missing['Country'] == 'Eritrea', :]) > 0}")

Does Eritrea exist in the crop data? True
Does Eritrea exist in the live stock data? True

Eritrea exists therefore we should find the population size by googling.

Eritrea population is 3,654,768 according to this website: https://www.worldometers.info/world-population/eritrea-population/

In [248]:
pop_2020_no_missing = pop_2020.copy()
pop_2020_no_missing.loc[pop_2020_no_missing["Country"] == "Eritrea", "Population Size"] = 3654768
pop_2020_no_missing.loc[pop_2020_no_missing["Country"] == "Eritrea", :]

    Country  Population Size
69  Eritrea        3654768.0

In [249]:
pop_2020_no_missing = pop_2020_no_missing.dropna(how="any")
print(f"{len(pop_2020_no_missing)}")

265

In [250]:
# Check for duplicate rows in general
double_crop = crop_2020_no_missing[crop_2020_no_missing.duplicated()]
double_live = live_2020_no_missing[live_2020_no_missing.duplicated()]
print(f"Number of duplicate rows in crop data: {len(double_crop)}")
print(f"Number of duplicate rows in live stock data: {len(double_live)}")

Number of duplicate rows in crop data: 0
Number of duplicate rows in live stock data: 0

In [252]:
# Check for duplicate crops/live stock per country
double_crop2 = crop_2020_no_missing[crop_2020_no_missing.loc[:, ('Country', 'Item', 'Element')].duplicated()]
double_live2 = live_2020_no_missing[live_2020_no_missing.loc[:, ('Country', 'Item', 'Element')].duplicated()]
print(f"Number of duplicate rows in crop data: {len(double_crop2)}")
print(f"Number of duplicate rows in live stock data: {len(double_live2)}")

Number of duplicate rows in crop data: 0
Number of duplicate rows in live stock data: 0

No duplicate rows.

In [253]:
# What are the unit measurements?
print(f"Crop Unit of Measurements: {crop_2020_no_missing['Unit'].unique()}")
print(f"Live stock Unit of Measurements: {live_2020_no_missing['Unit'].unique()}")

Crop Unit of Measurements: ['ha' 'hg/ha' 'tonnes']
Live stock Unit of Measurements: ['Head' '1000 Head' 'No']

Crop Units: 
- ha = hectare (associated with the Element column value Area harvested)
- hg/ha = hectagram/hectare (associated with the Element column value Yield)
- tonnes (associated with the Element column value Production)

We will be focusing on the Production value. Therefore, we will only be keeping the rows where Element is "Production".

Live Stock Units:
- Head: count per live stock
- 1000 Head: Value will be multiplied by 1000

Should we use Heads or 1000 Heads as a unit of measurement?

In [254]:
# Are there any live stock values that are less than 1000?
len(live_2020_no_missing.loc[(live_2020_no_missing["Value"]<1000)&(live_2020_no_missing["Unit"] == "Head"), :])

99

There are live stock with less than 1000 heads. Therefore, we should convert 1000 Head to Heads.

In [255]:
conv_live_2020 = live_2020_no_missing.copy()
# Convertsion formula: 1000 * Value = # Heads
conv_live_2020.head()

         Country      Item Element  Year       Unit      Value
59   Afghanistan     Asses  Stocks  2020       Head  1535435.0
119  Afghanistan    Camels  Stocks  2020       Head   168928.0
179  Afghanistan    Cattle  Stocks  2020       Head  5085807.0
239  Afghanistan  Chickens  Stocks  2020  1000 Head    13724.0
299  Afghanistan     Goats  Stocks  2020       Head  7967043.0

In [256]:
conv_live_2020.loc[conv_live_2020["Unit"]=="1000 Head", "Value"] *= 1000
conv_live_2020['Unit'] = conv_live_2020['Unit'].replace({"1000 Head": "Head"})
conv_live_2020.head()

         Country      Item Element  Year  Unit       Value
59   Afghanistan     Asses  Stocks  2020  Head   1535435.0
119  Afghanistan    Camels  Stocks  2020  Head    168928.0
179  Afghanistan    Cattle  Stocks  2020  Head   5085807.0
239  Afghanistan  Chickens  Stocks  2020  Head  13724000.0
299  Afghanistan     Goats  Stocks  2020  Head   7967043.0

All the 1000 Head values have been adjusted. Notice Chickens got multipled by 1000 while the rest remained the same.


What does the unit No stand for?

In [257]:
conv_live_2020.loc[conv_live_2020['Unit']=="No", 'Item'].value_counts()

Beehives    134
Name: Item, dtype: int64

The unit of measure "No" is only for beehives. We can assume it stands for "Number".

In [258]:
# Filter data to only include Production
crop_2020_production = crop_2020_no_missing.loc[crop_2020_no_missing['Element'] == 'Production', :]
crop_2020_production['Element'].unique()

array(['Production'], dtype=object)

In [259]:
# All the Unit values should be the same
crop_2020_production['Unit'].unique()

array(['tonnes'], dtype=object)

Unit only contains 'tonnes'. We can remove this data columns 'Element' and 'Unit' potentially later, and rename the column 'Value' to 'Production Value (tonnes)'.

### Merge the datasets

In [263]:
# Combine Crop and Live Stock Data First
crop_live_df = pd.concat([crop_2020_production, conv_live_2020])
crop_live_df.count()

Country    14239
Item       14239
Element    14239
Year       14239
Unit       14239
Value      14239
dtype: int64

In [267]:
len(crop_2020_production)+len(conv_live_2020)

14239

Appended the crop and live stock datasets correctly since the lengths match.

Now merge this data set with the population.

In [268]:
compl_df = pd.merge(crop_live_df, pop_2020_no_missing, on="Country")
compl_df

,Country,Item,Element,Year,Unit,Value,Population Size
0,Afghanistan,"Almonds, with shell",Production,2020,tonnes,0.000000e+00,3.892834e+07
1,Afghanistan,"Anise, badian, fennel, coriander",Production,2020,tonnes,0.000000e+00,3.892834e+07
2,Afghanistan,Apples,Production,2020,tonnes,0.000000e+00,3.892834e+07
3,Afghanistan,Apricots,Production,2020,tonnes,0.000000e+00,3.892834e+07
4,Afghanistan,Barley,Production,2020,tonnes,0.000000e+00,3.892834e+07
...,...,...,...,...,...,...,...
8956,World,Horses,Stocks,2020,Head,5.999818e+07,7.763933e+09
8957,World,Mules,Stocks,2020,Head,7.912425e+06,7.763933e+09
8958,World,Pigs,Stocks,2020,Head,9.526320e+08,7.763933e+09
8959,World,Rabbits and hares,Stocks,2020,Head,1.925890e+08,7.763933e+09
8960,World,Sheep,Stocks,2020,Head,1.263137e+09,7.763933e+09

In [274]:
compl_df.count()
# len(compl_df["Country"].unique())
# len(pop_2020_no_missing)
# compl_df['Country'].value_counts()

Country            8961
Item               8961
Element            8961
Year               8961
Unit               8961
Value              8961
Population Size    8961
dtype: int64

In [275]:
# Import to CSV file
compl_df.to_csv("./foodbank2020.csv")